VITE_APP_PUBLIC_BASE_URL=

VITE_APP_PUBLIC_KAKAO_REST_API_KEY=
VITE_APP_PUBLIC_KAKAO_REDIRECT_URI=

VITE_APP_PUBLIC_GOOGLE_CLIENT_ID=
VITE_APP_PUBLIC_GOOGLE_IOS_CLIENT_ID=
VITE_APP_PUBLIC_GOOGLE_REDIRECT_URI=
